# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit Learn
4. Seaborn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Tableau            |

### Below are a few examples of evaluating arithmetic expressions in Python

```py
a = 5
b = 3
result = a + b
print(result)  # Output: 8
```

```py
a = 10
b = 4
result = a - b
print(result)  # Output: 6
```

```py
a = 7
b = 6
result = a * b
print(result)  # Output: 42
```

In [1]:
# This is a simple arithmetic expression to multiply 3 and 4, then add 5.
result = (3 * 4) + 5
print(result)  # Output should be 17

17

# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)  # Output should be approximately 3.3333

**Objectives:**

List popular languages for Data Science
* Python
* R
* Julia
* SAS
* Scala

## Author
Steven Leong